
fastapi==0.115.8
uvicorn==0.34.0
joblib==1.4.2
numpy==1.26.4
scikit-learn==1.6.1
google-cloud-storage==2.19.0
lightgbm==4.5.0
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.26.1
pandas-stubs==2.2.2.240909